<html>
<head>
<title>CAMPUS</title>
<style>

p{
	font-size: 30px
}

b{
	font-size: 20px;
	font-family:Gabriola;
}
h4{
font-size: 25px

}

</style>
</head>
<body>
{% load static %}

<a href="/home"><img src="{% static 'homeb.png' %}" alt="HOME" style="width:42px;height:42px;"></a>

<center>
<h4> HOSTEL </h4>
<p style="font-family:Gabriola;"> For you home away from home
<br>
XYZ_college is a residential institute and provides accommodation to students in the hostels. There are 10 hostels,  Of the hostels, five are for girls and 5 are for boys.
<br><br> </p>
<h4> STUDENT CLUBS AND TEAMS </h4>
<b>
Music Club<br>
Drama CLub<br>
Dance Club<br>
Photography Club<br>
Art Club<br>
Badminton Team<br>
Basketball Team<br>
Cricket Team<br>
Football Team<br>
</b>
</center>
</body>
</html>





