<html>
<style>
mark1
{
	background-color:pink;
	color:white;
}
.button
{
border :none;
color:white;
padding:15px 32px;
text-align:center;
display:inline-block;
font-size:16px;
margin:4px 2px;
}
.button1{background-color:pink;}
</style>

<head></head>
<body>

<center>
<h1><mark1>XYZ COLLEGE</mark1></h1>
<br>
<a href="attendance.html"<button class="button button1">ATTENDANCE</button></a>
<a href="time_table.html" <button class="button button1">TIME TABLE</button></a>
<a href="fees.html"<button class="button button1">FEES DETAILS</button></a>
<a href="tutor.html"<button class="button button1">TUTOR</button></a>
<a href="score.html" <button class="button button1">SCORES</button></a>

</center>
</body>
</html>

